body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

body,
html {
  font-size: 100%;
  font-family: "Museo-Sans Cyrilic";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}

@font-face {
  font-family: "Museo-Sans Cyrilic";
  font-weight: 400;
  src: url("../../fonts/MuseoSansCyrl_0.otf");
}

@font-face {
  font-family: "Museo-Sans Cyrilic";
  font-weight: 500;
  src: url("../../fonts/MuseoSansCyrl_1.otf");
}

@font-face {
  font-family: "Museo-Sans Cyrilic";
  font-weight: 900;
  src: url("../../fonts/MuseoSansCyrl_3.otf");
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

@media screen and (max-width: 36rem) {
  .container {
    max-width: 31.875rem;
  }
}

@media screen and (max-width: 48rem) {
  .container {
    max-width: 43.125rem;
  }
}

@media screen and (max-width: 62rem) {
  .container {
    max-width: 58.125rem;
  }
}

@media screen and (max-width: 75rem) {
  .container {
    max-width: 69.375rem;
  }
}

.header-top {
  padding: 17px 0 14px 0;
  background-color: #000000;
  z-index: 500;
}

.header .nav-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  width: -webkit-calc(66.66667% - 1.875rem);
  width: calc(66.66667% - 1.875rem);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
}

.header .nav-block__nav-link {
  font-size: 0.929em;
  font-weight: 500;
  color: #c2c2c2;
  margin-right: auto;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}

.header .nav-block__nav-link:last-child {
  margin-right: 0;
}

.header .nav-block__nav-link:hover {
  color: #e9e9e9;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}

.header .account-setting {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  width: -webkit-calc(25% - 1.875rem);
  width: calc(25% - 1.875rem);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  position: relative;
}

.header .account-setting__login, .header .account-setting__user-menu {
  font-size: 0.813em;
  font-weight: 500;
  color: #ffffff;
}

.header .account-setting__login {
  margin-right: 20px;
}

.header .account-setting__register {
  color: #fd3a3a;
}

.header .account-setting__user-menu {
  margin-left: 30px;
}

.header .account-setting__icon {
  font-size: 1.2em;
  margin-right: 8px;
}

.header .account-setting__icon:last-child {
  margin-right: 0;
}

.header .account-setting .invis-menu {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

.header .account-setting .invis-menu.active {
  max-width: 212px;
  width: 100%;
  visibility: visible;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 400;
  top: 40px;
  background-color: #000000;
}

.header .account-setting .invis-menu__item {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.813em;
  font-weight: 500;
  padding: 8px 22px 8px 0;
  color: #929292;
  border-bottom: 1px solid #434343;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}

.header .account-setting .invis-menu__item:hover {
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}

.header .account-setting .invis-menu__item:last-child {
  border-bottom: none;
}
