:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
html {
  font-size: 1em;
}

a {
  text-decoration: none;
}

ul,
ol,
nav {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.000em;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 1.857em;
}

h4 {
  font-size: 1.143em;
}

.container {
  width: 1170px;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

.header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 17px 0 14px 0;
  background-color: #000000;
}

.header-top .container {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top__nav-link {
  font-size: 0.929em;
  color: #c2c2c2;
  margin-right: 50px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}

.header-top__nav-link:last-child {
  margin-right: 0;
}

.header-top__nav-link:hover {
  color: #e9e9e9;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}

.header-top .personality-block .login {
  color: #c2c2c2;
}
