body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

body,
html {
  font-size: 100%;
  font-family: "Museo-Sans Cyrilic";
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}

@font-face {
  font-family: "Museo-Sans Cyrilic";
  font-weight: 400;
  src: url("../../fonts/MuseoSansCyrl_0.otf");
}

@font-face {
  font-family: "Museo-Sans Cyrilic";
  font-weight: 500;
  src: url("../../fonts/MuseoSansCyrl_1.otf");
}

@font-face {
  font-family: "Museo-Sans Cyrilic";
  font-weight: 900;
  src: url("../../fonts/MuseoSansCyrl_3.otf");
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

@media screen and (max-width: 36rem) {
  .container {
    max-width: 31.875rem;
  }
}

@media screen and (max-width: 48rem) {
  .container {
    max-width: 43.125rem;
  }
}

@media screen and (max-width: 62rem) {
  .container {
    max-width: 58.125rem;
  }
}

@media screen and (max-width: 75rem) {
  .container {
    max-width: 69.375rem;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    top: -50px;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    top: -50px;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

@-webkit-keyframes open-menu {
  0% {
    opacity: 0;
    top: 150%;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

@keyframes open-menu {
  0% {
    opacity: 0;
    top: 150%;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

@-webkit-keyframes close-menu {
  0% {
    opacity: 1;
    top: 150%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    top: -50%;
    opacity: 0;
    visibility: hidden;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes close-menu {
  0% {
    opacity: 1;
    top: 150%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    top: -50%;
    opacity: 0;
    visibility: hidden;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.dropdown-menu.is-open {
  visibility: visible;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 600;
  -webkit-animation: .5s open-menu;
          animation: .5s open-menu;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-color: #000000;
}

.climate-icon {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.climate-icon::before {
  content: '';
  width: 48px;
  height: 37px;
  background-image: url("../img/icons/category-nav/cond48x37.png");
  background-repeat: no-repeat;
}

.garden-equipment-icon {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.garden-equipment-icon::before {
  content: '';
  width: 58px;
  height: 40px;
  background-image: url("../img/icons/category-nav/kosilka58x40.png");
  background-repeat: no-repeat;
}

.construction-machinery-icon {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.construction-machinery-icon::before {
  content: '';
  width: 49px;
  height: 36px;
  background-image: url("../img/icons/category-nav/stroy49x36.png");
  background-repeat: no-repeat;
}

.household-products-icon {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.household-products-icon::before {
  content: '';
  width: 45px;
  height: 39px;
  background-image: url("../img/icons/category-nav/home45x39.png");
  background-repeat: no-repeat;
}

.sporting-goods-icon {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.sporting-goods-icon::before {
  content: '';
  width: 40px;
  height: 44px;
  background-image: url("../img/icons/category-nav/sport40x44.png");
  background-repeat: no-repeat;
}

.childens-goods-icon {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.childens-goods-icon::before {
  content: '';
  width: 44px;
  height: 40px;
  background-image: url("../img/icons/category-nav/toys44x40.png");
  background-repeat: no-repeat;
}

.travel-goods-icon {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.travel-goods-icon::before {
  content: '';
  width: 54px;
  height: 33px;
  background-image: url("../img/icons/category-nav/tourist54x33.png");
  background-repeat: no-repeat;
}

.header-top {
  padding: 17px 0 14px 0;
  background-color: #000000;
  z-index: 500;
}

.header .nav-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  width: -webkit-calc(66.66667% - 1.875rem);
  width: calc(66.66667% - 1.875rem);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
  margin-top: auto;
}

.header .nav-block__nav-link {
  font-size: 0.929em;
  font-weight: 500;
  color: #c2c2c2;
  margin-right: auto;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}

.header .nav-block__nav-link:last-child {
  margin-right: 0;
}

.header .nav-block__nav-link:hover {
  color: #e9e9e9;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}

.header .account-setting {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  width: -webkit-calc(25% - 1.875rem);
  width: calc(25% - 1.875rem);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  position: relative;
}

.header .account-setting__login, .header .account-setting__user-menu {
  font-size: 0.813em;
  font-weight: 500;
  color: #ffffff;
}

.header .account-setting__login {
  margin-right: 20px;
}

.header .account-setting__register {
  color: #fd3a3a;
}

.header .account-setting__user-menu {
  margin-left: 30px;
}

.header .account-setting__icon {
  font-size: 1.2em;
}

.header .account-setting__li .btn-open {
  max-width: 30px;
  height: 30px;
  width: 100%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: transparent;
}

.header .account-setting .account-menu {
  visibility: hidden;
  display: none;
  left: 17%;
  position: absolute;
  z-index: -1;
  background-color: #000000;
}

.header .account-setting .account-menu.is-open {
  max-width: 212px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 400;
  display: flex;
  top: 50px;
  -webkit-animation: .5s fade-in;
          animation: .5s fade-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-color: #000000;
}

.header .account-setting .account-menu__item {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.813em;
  font-weight: 500;
  padding: 8px 22px 8px 0;
  color: #929292;
  border-bottom: 1px solid #434343;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}

.header .account-setting .account-menu__item:hover {
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}

.header .account-setting .account-menu__item:last-child {
  border-bottom: none;
}

.header-info {
  max-height: 125px;
  padding: 28px 0 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
}

.header-panel {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  width: -webkit-calc(83.33333% - 1.875rem);
  width: calc(83.33333% - 1.875rem);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  margin-left: 0;
  z-index: 300;
}

.header-panel__phone-section {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
  margin-right: 15px;
}

.header-panel__phone-section .phone-section__li-item {
  margin-bottom: 8px;
  margin-left: auto;
}

.header-panel__phone-section .phone-section__li-item:last-child {
  margin-bottom: 0;
  margin-left: 0;
}

.header-panel__phone-section .phone-section__li-item--icon {
  font-size: 0.875em;
  color: #fd3a3a;
}

.header-panel__phone-section .phone-number {
  font-size: 1.125em;
  font-weight: 500;
  color: #000000;
}

.header-panel__phone-section .btn-open {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}

.header-panel__phone-section .btn-open .view-phones__txt {
  font-size: 1em;
  font-weight: 700;
  border-bottom-style: dotted;
  color: #000000;
}

.header-panel__phone-section .info-block {
  max-width: -webkit-calc(265px - 34px);
  max-width: calc(265px - 34px);
  width: 100%;
  padding: 14px 14px 25px 20px;
  display: none;
  left: -45px;
  top: 105%;
  position: absolute;
  z-index: -1;
  background-color: #000000;
}

.header-panel__phone-section .info-block::after {
  content: '';
  position: absolute;
  left: 50%;
  top: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #000000;
}

.header-panel__phone-section .info-block.is-open {
  visibility: visible;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 600;
  -webkit-animation: .5s open-menu;
          animation: .5s open-menu;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-color: #000000;
}

.header-panel__phone-section .info-block .btn-close {
  max-width: 18px;
  width: 100%;
  padding: 0;
  position: absolute;
  top: 14px;
  right: 14px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-panel__phone-section .info-block .btn-close .close-icon {
  font-size: 1em;
  color: #ffffff;
}

.header-panel__phone-section .info-block__li {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0 12px;
}

.header-panel__phone-section .info-block__li:first-child {
  margin-top: 18px;
}

.header-panel__phone-section .info-block__li > a {
  font-size: 1em;
  font-weight: 500;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}

.header-panel__phone-section .info-block__li:hover > a {
  color: #c2c2c2;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}

.header-panel__phone-section .info-block__li:hover .info-block__icon--icon__mts::before {
  background-image: url("../img/icons/phone-menu/MTS17x16hover.png");
}

.header-panel__phone-section .info-block__li:hover .info-block__icon--icon__v::before {
  background-image: url("../img/icons/phone-menu/velcomv17x13hover.png");
}

.header-panel__phone-section .info-block__li:hover .info-block__icon--icon__life::before {
  background-image: url("../img/icons/phone-menu/life31x17hover.png");
}

.header-panel__phone-section .info-block__li:hover .info-block__icon--icon__viber::before {
  background-image: url("../img/icons/phone-menu/viber18x20hover.png");
}

.header-panel__phone-section .info-block__li:hover .info-block__icon--icon__skype::before {
  background-image: url("../img/icons/phone-menu/skype18x18hover.png");
}

.header-panel__phone-section .info-block__icon {
  position: absolute;
  left: 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header-panel__phone-section .info-block__icon--icon__mts::before {
  content: '';
  width: 17px;
  height: 16px;
  background-image: url("../img/icons/phone-menu/MTS17x16.png");
  background-repeat: no-repeat;
}

.header-panel__phone-section .info-block__icon--icon__v::before {
  content: '';
  width: 17px;
  height: 13px;
  background-image: url("../img/icons/phone-menu/velcomv17x13.png");
  background-repeat: no-repeat;
}

.header-panel__phone-section .info-block__icon--icon__oldphone::before {
  content: '';
  width: 18px;
  height: 16px;
  background-image: url("../img/icons/phone-menu/old-phone18x16.png");
  background-repeat: no-repeat;
}

.header-panel__phone-section .info-block__icon--icon__life::before {
  content: '';
  width: 31px;
  height: 17px;
  background-image: url("../img/icons/phone-menu/life31x17.png");
  background-repeat: no-repeat;
}

.header-panel__phone-section .info-block__icon--icon__viber::before {
  content: '';
  width: 18px;
  height: 20px;
  background-image: url("../img/icons/phone-menu/viber18x20.png");
  background-repeat: no-repeat;
}

.header-panel__phone-section .info-block__icon--icon__skype::before {
  content: '';
  width: 18px;
  height: 18px;
  background-image: url("../img/icons/phone-menu/skype18x18.png");
  background-repeat: no-repeat;
}

.header-panel__phone-section .info-block__icon--icon__mail::before {
  content: '';
  width: 13px;
  height: 11px;
  background-image: url("../img/icons/phone-menu/mail13x11.png");
  background-repeat: no-repeat;
}

.header-panel__search-place {
  -webkit-flex-basis: -webkit-calc(80% - 15px);
      -ms-flex-preferred-size: calc(80% - 15px);
          flex-basis: calc(80% - 15px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.header-panel__search-place .search-place__forms {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: -webkit-calc(600px - 16px);
      -ms-flex-preferred-size: calc(600px - 16px);
          flex-basis: calc(600px - 16px);
  width: 100%;
  padding: 0 0 0 14px;
  height: -webkit-calc(47px - 2px);
  height: calc(47px - 2px);
  position: relative;
  border: 1px solid #d4d4d4;
  border-radius: 30px;
}

.header-panel__search-place .search-place__input {
  font-size: 0.875em;
  border: none;
  color: #a4a4a4;
}

.header-panel__search-place .search-place__input:hover, .header-panel__search-place .search-place__input:focus {
  outline: none;
}

.header-panel__search-place .search-place__btn-search {
  max-width: 66px;
  width: 100%;
  height: 100%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  padding: 0;
  background-color: #fd3a3a;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  right: 0;
}

.header-panel__search-place .search-place__btn-search:hover, .header-panel__search-place .search-place__btn-search:focus {
  outline: none;
}

.header-panel__search-place .search-place__btn-search .btn-search__icon {
  font-size: 1em;
  color: #ffffff;
}

.header-panel__search-place .alert-block {
  margin-left: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.header-panel__search-place .alert-block > button {
  margin-right: 14px;
}

.header-panel__search-place .alert-block > button:last-child {
  margin-right: 0;
}

.header-panel__search-place .alert-block__btn-card, .header-panel__search-place .alert-block__btn-favorites {
  width: 40px;
  height: 40px;
  padding: 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: none;
  font-size: 1.250em;
  color: #ffffff;
}

.header-panel__search-place .alert-block__btn-card {
  background-color: #fd3a3a;
}

.header-panel__search-place .alert-block__btn-favorites {
  background-color: #3f4344;
}

.header-panel__search-place .alert-block .card-counter,
.header-panel__search-place .alert-block .favorites-counter {
  font-size: 0.813em;
  font-weight: 700;
  position: absolute;
  max-width: 35px;
  width: auto;
  height: auto;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px;
  border-radius: 50%;
  background-color: #3f4344;
  color: #cfd2db;
}

.header-panel__search-place .alert-block .card-counter {
  top: -18px;
  left: 22px;
}

.header-panel__search-place .alert-block .favorites-counter {
  top: -18px;
  right: 5px;
}

.header-panel__search-place .category-option {
  height: 100%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-panel__search-place .category-option::after {
  content: '';
  position: relative;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  margin: 0 15px;
  background-color: #dedede;
}

.header-panel__search-place .category-option__icon {
  margin-right: 10px;
  font-size: 1.125em;
  color: #fd3a3a;
}

.header-panel__search-place .category-option__btn {
  padding: 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: transparent;
}

.header-panel__search-place .category-option__btn:hover, .header-panel__search-place .category-option__btn:focus {
  border: none;
  outline: none;
}

.header-panel__search-place .category-option__btn-text {
  font-size: 0.75em;
  font-weight: 500;
  text-align: left;
}

.header-panel__search-place .category-option__btn-icon {
  margin-left: 12px;
}

.header-panel__search-place .category-option__menu {
  display: none;
  position: absolute;
  top: 130%;
}

.header-panel__search-place .category-option__menu::before, .header-panel__search-place .category-option__menu::after {
  content: '';
  position: absolute;
  left: 15px;
  top: -16px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom: 8px solid #fd3a3a;
}

.header-panel__search-place .category-option__menu::after {
  border-bottom: 8px solid #ffffff;
  top: -14px;
}

.header-panel__search-place .category-option__menu.is-open {
  max-width: -webkit-calc(348px - 2px);
  max-width: calc(348px - 2px);
  width: 100%;
  height: auto;
  padding: 24px 12px 20px 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #fd3a3a;
  background-color: #ffffff;
  -webkit-animation: .5s open-menu;
          animation: .5s open-menu;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header-panel__search-place .category-option__menu-li {
  padding: 9px 0 9px;
}

.header-panel__search-place .category-option__menu-li:first-child {
  padding-top: 0;
}

.header-panel__search-place .category-option__menu-li:last-child {
  padding-bottom: 0;
}

.header-panel__search-place .category-option__menu-item {
  font-size: 0.813em;
  font-weight: 500;
  color: #2a2a2a;
}

.header-logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  width: -webkit-calc(16.66667% - 1.875rem);
  width: calc(16.66667% - 1.875rem);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-menu {
  height: auto;
  background-color: #f3f3f3;
}

.header-menu .category-menu {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-menu .category-menu__btn-cat {
  -webkit-flex-basis: -webkit-calc(85px - 16px);
      -ms-flex-preferred-size: calc(85px - 16px);
          flex-basis: calc(85px - 16px);
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border: none;
  border-top: 4px solid #000000;
  padding: 0 0.500em 0 0.500em;
  background-color: #fd3a3a;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition-property: background-color, border-top, color;
  -o-transition-property: background-color, border-top, color;
  transition-property: background-color, border-top, color;
}

.header-menu .category-menu__btn-cat::before {
  content: '';
  position: absolute;
  top: -6px;
  width: 100%;
  height: 2px;
  background-color: #000000;
}

.header-menu .category-menu__btn-cat:hover {
  border-top: 4px solid #fd3a3a;
  background-color: #000000;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transition-property: background-color, border-top, color;
  -o-transition-property: background-color, border-top, color;
  transition-property: background-color, border-top, color;
}

.header-menu .category-menu__btn-cat:hover::before {
  background-color: #fd3a3a;
}

.header-menu .category-menu__btn-cat .btn-cat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header-menu .category-menu__btn-cat .btn-cat__icon-item {
  font-size: 2.250em;
  color: #ffffff;
}

.header-menu .category-menu__btn-cat .btn-cat__txt-item {
  padding-top: 0.875em;
  color: #ffffff;
}

.header-menu .category-menu__list-item {
  -webkit-flex-basis: -webkit-calc(1140px - 93px);
      -ms-flex-preferred-size: calc(1140px - 93px);
          flex-basis: calc(1140px - 93px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header-menu .category-menu__item {
  -webkit-flex-basis: -webkit-calc(145px - 40px);
      -ms-flex-preferred-size: calc(145px - 40px);
          flex-basis: calc(145px - 40px);
  padding: 0.875em 20px 0.813em;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #000000;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transition-property: background-color, background-image, color;
  -o-transition-property: background-color, background-image, color;
  transition-property: background-color, background-image, color;
}

.header-menu .category-menu__item:hover {
  background-color: #fd3a3a;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-property: background-color, background-image, color;
  -o-transition-property: background-color, background-image, color;
  transition-property: background-color, background-image, color;
}

.header-menu .category-menu__item:hover .climate-icon::before {
  background-image: url("../img/icons/category-nav/cond48x37hover.png");
}

.header-menu .category-menu__item:hover .garden-equipment-icon::before {
  background-image: url("../img/icons/category-nav/kosilka58x40hover.png");
}

.header-menu .category-menu__item:hover .construction-machinery-icon::before {
  background-image: url("../img/icons/category-nav/stroy49x36hover.png");
}

.header-menu .category-menu__item:hover .household-products-icon::before {
  background-image: url("../img/icons/category-nav/home45x39hover.png");
}

.header-menu .category-menu__item:hover .sporting-goods-icon::before {
  background-image: url("../img/icons/category-nav/sport40x44hover.png");
}

.header-menu .category-menu__item:hover .childens-goods-icon::before {
  background-image: url("../img/icons/category-nav/toys44x40hover.png");
}

.header-menu .category-menu__item:hover .travel-goods-icon::before {
  background-image: url("../img/icons/category-nav/tourist54x33hover.png");
}

.header-menu .category-menu__item-icon {
  height: 50px;
}

.header-menu .category-menu__txt {
  margin-bottom: auto;
  font-size: 0.813em;
}

.catDrop a {
  color: #ffffff;
}

.catDrop-wrapper {
  position: absolute;
  top: 310px;
  width: 100%;
  max-width: 1170px;
}

.catDrop-list {
  position: relative;
  visibility: hidden;
  display: none;
  width: -webkit-calc(100% / 4);
  width: calc(100% / 4);
  padding: 25px 35px 25px 10px;
  text-transform: uppercase;
  line-height: 2;
}

.catDrop-list.is-open {
  visibility: visible;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 600;
  -webkit-animation: .5s open-menu;
          animation: .5s open-menu;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-color: #000000;
}

.catDrop-toggle {
  display: block;
  position: relative;
}

.catDrop-item--icon {
  position: absolute;
  top: 10%;
  right: -15px;
  color: #ffffff;
  cursor: pointer;
}

.catDrop__submenu {
  position: absolute;
  top: 0;
  left: 345px;
  width: -webkit-calc(1170px - 337px);
  width: calc(1170px - 337px);
  height: 100%;
  display: none;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #000000;
  color: #ffffff;
}

.catDrop__submenu-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

li.active > .catDrop__submenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.section-promotions .promotion-boiler {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.section-promotions .promotion-boiler__description-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 1366px) {
  .section-promotions .promotion-boiler__description-block {
    -webkit-flex-basis: -webkit-calc(1366px / 2 - 600px);
        -ms-flex-preferred-size: calc(1366px / 2 - 600px);
            flex-basis: calc(1366px / 2 - 600px);
  }
}
