// primary background color's
$main-bg:	 #f0f2f5;
$white-bg: #ffffff;

// main palette
$main-black: 					#000000;
$main-white: 					#ffffff;
$main-element-grey: 	#3f4344;
$main-dark-grey: 			#2a2a2a;
$main-orange: 				#fd3a3a;
$main-counter: 				#cfd2db;

$main-light-grey: #f3f3f3;

// other color's
$main-meter-bg: #363636;

// text color's
$white-txt: 			#ffffff;
$black-txt:         #000000;
$light-grey-txt: 	#e9e9e9;
$grey-txt: 				#c2c2c2;
$dark-grey-txt: 	#d5d5d5;
$invis-menu-txt: 	#929292;
$dark-a4-txt: 		#a4a4a4;

// маркеры
$mark-green: 				#04a109;
$mark-dark-green: 	#638726;
$mark-orange: 			#e33301;
$mark-blue: 				#1a537f;

// box-shadow color's
$main-shadow: #e8eaed;

// border color's
$main-border: 								#e2e2e2;
$main-white-icon-border: 			#ffffff;
$main-primary-border: 				#e1e8ed;
$main-search-border: 					#d4d4d4;
$main-search-border-light: 		#dedede;
$main-primary-button-border: 	#a5adb2;
$main-primary-icon-border: 		#2a2a2a;
$main-invis-menu-border: 			#434343;

// controls
$main-arrow-bg: #c7cdd9;

//btn
$main-rgba-btn: rgba(253, 58, 58, 0.71);
$btn-red: #fd3a3a;
$btn-white: #ffffff;
$btn-red-hover: #ff0000;