// Начало описания секции header
.header{

	&-top{
		padding: 17px 0 14px 0;
		background-color: $main-black;

		// .row{
		// 	justify-content: space-between;
		// }
	}

	.nav-block{
		@include col();
		@include size(7);

			&__nav-link{
				font-size: 0.929em;
				color: $grey-txt;
				margin-right: 50px;
				@include transition($easeOut-2s, color);

					&:last-child{
						margin-right: 0;
					}

					&:hover{
						color: $light-grey-txt;
						@include transition($easeIn-2s, color);
					}
			}
	}

	.personality-block{
		@include col();
		@include size(3);
		margin-left: auto;

		.login{
			color: $grey-txt;
		}
	}
}

//--end