.catDrop {
    & a {
        color: $catDrop-main;
    }

    &-wrapper {
        position: absolute;
        top: 310px;
        width: 100%;
        max-width: 1170px;
    } // end catDrop-wrapper


    &-list{
        position: relative;
        display: none;
        width: em(280);
        height: auto;
        padding: 25px 35px 55px 10px;
        background-color: $main-black;
        font-size: rem(14);
        text-transform: uppercase;
        line-height: 1.5;


        &.is-open{
            display: flex;
            flex-direction: column;
            animation: .5s open-menu;
            animation-fill-mode: forwards;
        }
    } // end catDrop-list

    &-toggle {
        display: block;
        position: relative;

        &:hover {
            color: $main-white;
        }
    } // end catDrop-toggle

    &-item {
        padding-bottom: em(25);

        &--icon {
            position: absolute;
            top: 10%;
            right: -25px;
            cursor: pointer;
        }
    } // end catDrop-item

    &__submenu {
        display: none;

        &-item {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            max-width: 165px;
            flex-basis: calc(100% / 5);
            padding-top: 20px;
            padding-right: 15px;
            margin-right: 20px;
        }

        &-headline {
            font-size: rem(14);
        }
    } // catDrop__submenu
}

li.active {

    color: $main-white;

    & > .catDrop {

        &__submenu {
            box-sizing: content-box;
            position: absolute;
            top: 0;
            left: 300px;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            width: em(1060);
            height: 100%;
            padding-left: 20px;
            background-color: $main-black;
            font-size: rem(14);
            color: $main-white;
            text-transform: capitalize;
            line-height: 1.5;

            & > :last-child {

            }
        }

        &-toggle {
            color: $main-white;
        }
    } // end catDrop

    & a:hover {
        color: $main-white;
    }

    & .catDrop-item--icon {
        transform: rotate(-90deg);
    }
} // end li.active

